 /*   _____       _                      _                                 _              
 //  / ____|     | |                    | |                    /\         | |             
 // | |  __  ___ | | _____   ____ _  ___| |__   _____   __    /  \   _ __ | |_ ___  _ __  
 // | | |_ |/ _ \| |/ _ \ \ / / _` |/ __| '_ \ / _ \ \ / /   / /\ \ | '_ \| __/ _ \| '_ \ 
 // | |__| | (_) | | (_) \ V / (_| | (__| | | | (_) \ V /   / ____ \| | | | || (_) | | | |
 //  \_____|\___/|_|\___/ \_/ \__,_|\___|_| |_|\___/ \_/   /_/    \_\_| |_|\__\___/|_| |_|
 */                                                                                    
    

// mobile first
html 
	font-size 18px
	
body
	font-size 2rem

h1
	font-size 200%
	




.screen1
	background-color #CCC
	

.screen2
	background-color #FCD
	

.screen3
	background-color #DCD
	
.screen4
	background-color #0FD
	
.screen5
	background-color #FF0
	
.screen6
	background-color #999