doctype html
html(lang='ru')
	head
	meta(name='viewport', content='width=device-width', initial-scale='1')
	title NexTherm

	link(href='css.css', rel='stylesheet') 

	body
		
	section.screen1
		.container
			h1 Привет, мир!
	section.screen2
		.container
			h1 Продукция
	section.screen3
		.container
			h1 Гарантии качества
	section.screen4
		.container
			h1 Почему клиенты выбирают нас?
	section.screen5
		.container
			h1 Карта
	section.screen6
		.container
			h1 Контакты
								
				


