doctype html
html(lang='ru')
	head
	meta(name='viewport', content='width=device-width', initial-scale='1')
	title NexTherm

	link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css', rel='stylesheet') 
	link(href='css.css', rel='stylesheet') 



	body

	.header
		.container
			.logo logo
			nav.navmenu 
				ul.menu
					li
						a(href='#') Продукция
					li
						a(href='#') Клиентам
					li
						a(href='#') Контакты

			.cta Задать вопрос
			.contact
				.phone (495) 712-72-05
				.mail
					a(href='mailto:#') info@nextherm.ru

	section.screen1
		.container
			h1 Производство и поставки полипропиленовых труб <br>марки <i>NexTherm<sub>TM</sub></i>
			.icons вода тепло кондиционер
			h2 для водоснабжения, отопления и систем кондиционирования

	section.screen2
		section.bg
			.container
				h1 Продукция
				.text
					.one Ассортимент производимых труб торговой марки “Nextherm” широко применяется для монтажа систем отопления, горячего и холодного водоснабжения любых конфигураций, а так же систем кондиционирования (чиллеры).
					.two Согласно ГОСТ 32415-2013, наши трубы относятся к 5-му классу эксплуатации, срок службы которых составляет до 50 лет.

				hr

				blockquote Благодаря технологическим особенностям и физико-химическим характеристикам PP-R трубы торговой марки “NT” имеют ряд преимуществ:

				ul.features
					li Высокая прочность к температурным перепадам
					li Отсутствие блуждающих токов
					li Химическая и корризойная устойчивость
					li Не выделяют вредных элементов
					li Армирование натуральным стекловолокном
					li Увеличенный срок эксплуатации

				.cta Сделать заказ

	section.screen3
		.container
			h1 Гарантии качества
			.one
				.left сертификат
				.right 
					h3 Сертификация
					p Росстандарт<br> Федеральное агентство по техническому регулированию и метрологии
					p Наша продукция полностью соответсвует системе сертификации ГОСТ Р
			.two
				.left
					h3 Испытания
					p Трубы NexTherm отлично прошли испытания уважаемой лаборатории: 
				.right протокол

	section.screen4
		.container
			h1 Почему клиенты выбирают нас?
			
			ul.features
				li
					.icon icon
					.txt Гарантии качества продукции 
				li
					.icon icon
					.txt Комплектация заказа (от 1 дня)
				li
					.icon icon
					.txt Опыт в этой сфере более 10 лет
				li
					.icon icon
					.txt  Профессиональная консультация
				li
					.icon icon
					.txt Гибкая система скидок
				li
					.icon icon
					.txt Свой транспортный отдел (оперативная доставка)
				li
					.icon icon
					.txt Работаем со всеми регионами РФ. Возможна доставка зарубеж.
			hr
			h2 Мы сотрудничаем с:
			ul.features
				li Монтажными и строительными организациями
				li Строительные рынки
				li Производственными компаниями
				li Профильными магазинами
				li с Вами

			.cta Начать сотрудничество


	section.screen5
		.container
			h1 Карта

	section.screen6
		.container
			h1 Контакты
			.one
				.left
					strong Главный офис и склад:
					p г.Москва, ул. 2-я Мелитопольская, владение 4а, строение 6 (территория "Бутовского Комбината")
					strong Время работы: 
					p с 9:00 до 18:00, пн-пт
					.mail
						a(href='mailto:#') info@nextherm.ru

				.right
					.phone (495) 712-72-05
					.cta Заказать консультацию
					


